<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gregory.dan.licenceorganiser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:name=".notifications.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddUnitActivity"
            android:label="@string/add_new_unit"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="gregory.dan.licenceorganiser.MainActivity"
                android:value="android.support.PARENT_ACTIVITY" />
        </activity>
        <activity
            android:name=".AddLicenceActivity"
            android:label="@string/add_new_licence"
            android:parentActivityName=".AddUnitActivity">

            <meta-data
                android:name="gregory.dan.licenceorganiser.AddUnitActivity"
                android:value="android.support.PARENT_ACTIVITY" />
        </activity>
        <activity
            android:name=".ViewUnitActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="gregory.dan.licenceorganiser.MainActivity"
                android:value="android.support.PARENT_ACTIVITY" />
        </activity>
        <activity
            android:name=".AddAmmoActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".ViewLicenceActivity"
            android:theme="@style/Theme.MyDialog" />
        <activity android:name=".AddInspectionPointActivity" />
        <activity android:name=".AddInspectionActivity" />
        <activity
            android:name=".ViewInspectionActivity"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />

        <service
            android:name=".notifications.NotificationService"
            android:enabled="true" />

        <receiver android:name=".widget.UnitWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/unit_widget_info" />
        </receiver>

        <service android:name=".widget.UnitWidgetService"
            android:enabled="true"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>